.container {
  --max-width: 1180px;
  --padding: 30px;
  max-width: calc(var(--max-width) + var(--padding) * 2);
  padding: 0 var(--padding);
  margin: 0 auto;

  @media (max-width: 1024px) {
    --max-width: 880px;
  }

  @media (max-width: 768px) {
    --max-width: 620px;
  }

  @media (max-width: 540px) {
    --padding: 15px;
  }
}